# Dados do MySQL - não subir banco real
/data/mysql/

# SQL Server data
data/sqlserver/
db_mysql_server/
data/
db_mysql/data/

# Arquivos grandes ou temporários
*.rar
*.zip
*.tar
*.gz

# Backups
*.bak

# Logs
*.log
*.trc
*.xel

# IDEs e editores
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db
